<form class="form-signin" action="/resetPassword" method="POST">
  <h2 class="form-signin-heading">Reset Password</h2>

  <label for="secretToken" class="sr-only">Choose Password</label>
  <input type="password" id="password" name="password" class="form-control" placeholder="Password" required autofocus>

  <br/>
  
  <button class="btn btn-lg btn-default btn-block" type="submit">Reset Password</button>
</form>

